extends layout

block content 
  div(class="login-wrapper")
    div(class="login")
      form(action="" method="POST")

        div(class="form-group")
          label(for="username") Username
          input#username(type="text" name="username" required)
        
        div(class="form-group")
          label(for="password") Password
          input#password(type="password" name="password" required)

        div(class="form-group")
          button(type="submit") Login

      if locals.message
        p #{message.error}