extends layout

block content 
  div(class="login-wrapper")

    div(class="error-message")
      if locals.message
        p #{message.error}

    div(class="login")
      form(action="" method="POST")

        div(class="form-group")
          label(for="username") Username
          input#username(type="text" name="username" placeholder="Enter email address" required)
        
        div(class="form-group")
          label(for="password") Password
          input#password(type="password" name="password" placeholder="Enter password" required)

        div(class="form-group")
          button(type="submit" class="btn login-btn") Login
