.login-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90vh;
}

.login {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 450px;
  height: 300px;
  padding-top: 10px;
  background: #d6def8;
  border: 3px solid #435eb9;
  border-radius: 10px;
  box-shadow: 4px 4px 8px rgb(107, 107, 107);
}

.login-btn {
  margin-top: 60px;
}
